header {
  display: flex;
  height: 60px;
  background-color: #ff742b;
  align-items: center;
}

*,
html {
  font-size: 12px;
}

/* :root {
  font-family: 12px;
} */

#root {
  width: 85%;
  margin: auto;
  background-color: #f6f6ef;
  min-height: 100vh !important;
}

img {
  height: 100%;
}
a {
  overflow-wrap: break-word;
}
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

header input {
  width: 30%;
  border: none;
  font-size: 1rem;
}

header p {
  font-size: 1.4rem;
  width: 10rem;
  margin-left: 10px;
}

.search-icon {
  background: url("/public/images/search.png") no-repeat 10px 10px;
  height: 100%;
  width: 50px;
  background-color: white;
  margin-left: 2rem;
}

.image-container {
  height: 100%;
}

input:focus {
  outline: none;
}

.news-container {
  margin: 1rem;
}

.news {
  margin: 1rem 0;
  /* color: lightgray; */
}

.news-details {
  margin-top: 5px;
  color: #696969;
}

.news-url {
  color: #696969 !important;
}

.news-url:hover {
  text-decoration: underline;
}

.news-title {
  font-size: 1.2rem;
}

.news-details *:hover {
  text-decoration: underline;
}

.page {
  padding: 0.5rem 0;
  border: 1px solid #696969;
  margin: 0 2px;
  cursor: pointer;
  width: 25px;
  text-align: center;
}

ul {
  list-style: none;
}

.active {
  color: #ff742b;
  border-color: #ff742b;
}

.search-options {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.search-options select {
  padding: 0.5rem;
  font-size: 1rem;
}

.search-options option {
  padding: 20px;
  font-size: 1rem;
}

.search-container {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: 80%;
}

.error {
  height: 100%;
  font-size: large;
  padding: 1rem;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  margin: auto;
  height: 80px;
}

.lds-dual-ring:after {
  /* margin: auto; */
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

code {
  white-space: pre-line;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  #root {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .logo-name {
    display: none;
  }

  .header input {
    width: 60vh !important;
    margin-right: 10px;
  }
}

@media screen and (max-width: 500px) {
  .search-records {
    display: none;
  }
  ul {
    padding: 0 10px;
  }

  header input {
    width: 100%;
    margin-right: 10px;
  }
}
